

  <section id="container" >
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
          <!--logo start-->
          <a class="logo"><b>DASHBOARD</b></a>
        
          <div class="top-menu">
              <ul class="nav pull-right top-menu">
                  <li><a class="logout" (click)='logout()'>Logout</a></li>
                  
              </ul>
          </div>
      </header>
    <!--header end-->
    
    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
            
     
                  <h5 class="centered">DUKAAN</h5>
                      
                <li class="mt">
                    <a (click)='RedirectToHome()' >
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a (click)='RedirectToCustomer()' href="javascript:;" >
                        <i class="fa fa-desktop"></i>
                        <span>Customers</span>
                    </a>
                  
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-cogs"></i>
                        <span>Orders</span>
                    </a>
                  
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-book"></i>
                        <span>Vendors</span>
                    </a>
              
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-tasks"></i>
                        <span>Product-Catalogue</span>
                    </a>
               
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-th"></i>
                        <span>Products</span>
                    </a>
                  
                </li>
              

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
  

</section>

