<div class="wrapper">
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate class="login">
        <p class="title">Log in</p>
        <div  class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
                required   placeholder="Username" autofocus />
           
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <input type="password" placeholder="Password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
                required />
                <i class="fa fa-key"></i>
        </div>
      
   
        <a href="#">Forgot your password?</a>
        <button [disabled]="loading" class="btn">
            <span class="state">Log in</span>
        </button>
    </form>
</div>