
.form_bg {

    color:#666;
    padding:30px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    width: 500px;
    height: 400px;
}
.align-center {
    text-align:center;
}


.headingCustomer {
   color: rgba(4, 40, 68, 0.85);
}

.newbtn{
    margin-top: 20px
}

.backdrop{ 
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}

.submitCustomer{
    text-align: center
    
}

.Addbutton {
    background: #3498db;
    width: 180px;
    padding: 4px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;
  }
  .Addbutton p {
    font-family: 'Roboto';
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .Addbutton:hover {
      background-color: rgba(4, 40, 68, 0.85);
    cursor: pointer;
  }

  .modal-header {
    background: rgba(4, 40, 68, 0.85);
    
  }